<nav class="navbar navbar-dark shadow">
  <a href="/analytics/index" class="navbar-brand mb-0 h1">Site Analytics</a>
</nav>

<div class="data-container">
  <h3>Timelines</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Subscribers</th>
        <th scope="col">memory count</th>
        <th scope="col">View</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @all_tls.each_with_index do |t, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= t.creator %></td>
          <td><%= t.subscribers.split(',').length %></td>
          <td><%= Track.where(:username => t.creator).length %>
          <td><%= link_to "timeline", {:controller => 'shared', :action => 'index', :shared => t.creator} %></td>
          <td><%= link_to "destroy", {:controller => 'analytics', :action => 'destroy_timeline', :user => t.creator} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="data-container">
  <h3>Moments</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">moment</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @all_moms.each_with_index do |m, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= m.user %></td>
          <td><%= m.name %></td>
          <td><%= link_to "destroy", {:controller => 'analytics', :action => 'destroy_moment', :user => m.user, :moment => m.name} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
