<h3>Stats</h3>
<table class="table">
  <tbody>
    <tr>
      <th>Memories logged</th>
      <td><%= @memory_count %></td>
    </tr>
    <tr>
      <th>Moments created</th>
      <td><%= @moment_count %></td>
    </tr>
    <tr>
      <th>Subscribers</th>
      <td><%= @subscribers.length %></td>
    </tr>
  </tbody>
</table>


<h3>Subscribers</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |s| %>
      <tr>
        <td><%= s %></td>
        <td><%= link_to "timeline", {:controller => "shared", :action => "index", :shared => s} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
