<div class="modal fade" id="myProfile" tabindex="-1" role="dialog" aria-labelledby="myProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myProfileModalLabel">Your Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "friends/my_profile" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="manageWindow" tabindex="-1" role="dialog" aria-labelledby="manageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageModalLabel">Manage Subscriptions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "friends/user_manage" %>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-dark shadow">
  <a href="/friends/index" class="navbar-brand mb-0 h1">Friend Activity</a>
  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "my timeline", {:controller => "playlists", :action => "index"}, class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "my profile", "#myProfile", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#myProfile'} %></li>
    <li class="nav-item"><%= link_to "manage", "#manage", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#manageWindow'} %></li>
  </ul>
</nav>

<div id="feed">
  <% @sharedtls.each do |s| %>
    <div id="feed-item" class="rounded">
      <div id="item-content">
        <h4 id="item-header"><%= s.name %></h4>
        <p><%= s.creator %></p>
        <p><%= s.moment.count %></p>
      </div>
    </div>
  <% end %>

  <% @memory_posts.each do |s| %>
    <div id="feed-item" class="rounded">
      <div id="item-content">
        <h4 id="item-header"><%= s.username %> updated a memory:</h4>
        <p><%= s.title %></p>
        <p><%= s.memory %></p>
      </div>
    </div>
  <% end %>

</div>
