<nav class="navbar navbar-dark shadow">
  <a href="/friends/index" class="navbar-brand mb-0 h1">Friend Activity</a>
  <ul class="nav nav-pills">
    <li class="nav-item"><%= link_to "my timeline", {:controller => "playlists", :action => "index"}, class: "nav-link" %></li>
  </ul>
</nav>

<div id="feed">
  <% @sharedtls.each do |s| %>
    <div id="feed-item" class="rounded">
      <div id="item-content">
        <h4 id="item-header"><%= s.name %></h4>
        <p><%= s.creator %></p>
        <p><%= s.moment.count %></p>
      </div>
    </div>
  <% end %>

  <% @memory_posts.each do |s| %>
    <div id="feed-item" class="rounded">
      <div id="item-content">
        <h4 id="item-header"><%= s.username %> updated a memory:</h4>
        <p><%= s.title %></p>
        <p><%= s.memory %></p>
      </div>
    </div>
  <% end %>

</div>
