<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <nav class="navbar navbar-dark shadow">
      <a href="/friends/index" class="navbar-brand mb-0 h1"> <%= params[:shared] %>'s timeline</a>
      <ul class="nav nav-pills">
      </ul>
    </nav>

    <div id="timeline-container">
      <h3>Memories</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Track</th>
            <th scope="col">Memory</th>
            <th scope="col">Image</th>
            <th scope="col">Debug Info</th>
          </tr>
        </thead>
        <tbody>
          <% @tracks.each_with_index do |t, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= t.title %></td>
              <td><%= t.memory %></td>
              <td>
                <% if t.image.attached? %>
                    <img class='track-art' src=<%= url_for(t.image) %>/>
                <% end %>
              </td>
              <td>
                <p><%= t.image.attachment.blob.filename %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
