<%= form_with scope: :track, url: playlists_timeline_path, local: true do |form| %>
  <p>
    <%= form.label :memory %><br>
    <%= form.text_area :memory, :value => @tracks[0].memory %>
  </p>

  <p>
    <%= form.label :memory_date %><br>
    <%= form.date_field :memory_date, :value => @tracks[0].memory_date %>
  </p>

  <p>
    <%= form.label "Image" %><br>
    <%= form.file_field :image, :value => @tracks[0].image %>
  </p>

  <p>
    <%= form.hidden_field :imageurl, :value => @tracks[0].imageurl %>
  </p>

  <p>
    <%= form.hidden_field :playlist_name, :value => @tracks[0].playlist_name %>
  </p>

  <p>
    <%= form.hidden_field :title, :value => @tracks[0].title %>
  </p>

  <p>
    <%= form.hidden_field :username, :value => session[:user]['email'] %>
  </p>

  <p>
    <%= form.hidden_field :timeline_id, :value => @current_timeline[0].id %>
  </p>

  <p>
    <%= form.submit "Save Memory", {:class => "btn btn-primary"}%>
  </p>
<% end %>
