<a style="float:right" href="https://github.com/Hermje/re-verse/blob/master/README.md#memories" class="btn btn-primary">Help</a>
<%= form_with scope: :track, url: playlists_index_path, local: true do |form| %>
  <%= form.label "Select song from playlist:" %>
  <%= form.select :playlist_name, @playlists.collect {|p| [p.name, p.name]}, {include_blank: true}, {onChange: "updateTrackList()"}%>

  <div id='track-select'>
    <% @playlists_h.keys.each do |k| %>
      <div id="<%=k%>" style="display:none">
        <% @playlists_h[k].each do |t| %>
          <%= form.radio_button :title, t %><%=t%><br>
        <% end %>
      </div>
    <% end %>
  </div>

  <p>
    <%= form.label "Describe the event this song reminds you of" %><br>
    <%= form.text_area :memory %>
  </p>

  <p>
    <%= form.label "Date of memory" %><br>
    <%= form.date_field :memory_date %>
  </p>

  <p>
    <%= form.label "Upload image related to memory (optional)" %><br>
    <%= form.file_field :image %>
  <p>

  <p>
    <%= form.hidden_field :imageurl, :value => "fart" %>
  </p>

  <script language="javascript" type="text/javascript">
    var previousPl = ""
    function updateTrackList()
    {
      var e = document.getElementById('track_playlist_name');
      var playlistName = e.options[e.selectedIndex].value;
      document.getElementById(playlistName).style.display = "block";
      try {
        document.getElementById(previousPl).style.display = "none";
      } catch (e) {
        console.log(previousPl);
      }
      previousPl = playlistName;
    }
  </script>

  <p>
    <%= form.hidden_field :username, :value => session[:user]['email'] %>
  </p>

  <p>
    <%= form.hidden_field :timeline_id, :value => @current_timeline[0].id %>
  </p>

  <p>
    <%= form.submit "Save Memory", {:class => "btn btn-primary"}%>
  </p>
<% end %>
