<%= form_with scope: :moment, url: playlists_index_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>

  <p>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </p>

  <p>
    <%= form.hidden_field :user, :value => session[:user]['display_name'] %>
  </p>

  <p>
    <%= form.hidden_field :timeline_id, :value => @current_timeline[0].id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
