<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="modal fade" id="addMemory" tabindex="-1" role="dialog" aria-labelledby="addMemoryModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMemoryModalLabel">Add Memory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "playlists/memory_form" %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="defineMoment" tabindex="-1" role="dialog" aria-labelledby="defineMomentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="defineMomentModalLabel">Define Moment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "playlists/moment_form" %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="shareTimeline" tabindex="-1" role="dialog" aria-labelledby="shareTimelineModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shareTimelineLabel">Share Timeline</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "playlists/share_timeline_form" %>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark shadow">
      <% if params[:focused_moment] != nil %>
        <% (1..12).each do |i| %>
          <% if @tlhash[i] != nil && @tlhash[i][1] != nil %>
            <a href="/playlists/index" class="navbar-brand mb-0 h1"> <%= @tlhash[i][1][0][2].name %> in focus</a>
          <% end %>
        <% end %>
      <% else %>
        <a href="/friends/index" class="navbar-brand mb-0 h1"> <%= @user.display_name %>'s timeline</a>
      <% end %>
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#addMemory'} %></li>
        <li class="nav-item"><%= link_to "define moment", "#defineMoment", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#defineMoment'} %></li>
        <li class="nav-item"><%= link_to "share timeline", "#shareTimeline", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#shareTimeline'} %></li>
        <div id="filter-controls">
            <li class="nav-item"><input id="hide-playlists" type="button" value="Hide Playlists" class="btn btn-primary"/></li>
        </div>
      </ul>
    </nav>

    <div id="timeline-container">

      <div id="month-bar">
        <% (1..12).each do |i| %>
          <% if @months[i] != nil && @months_colors[i] != nil%>
            <p class="month-bar-item" style="width: <%= (@months[i].to_i * 25.5) - (i/4) %>%; background-color:<%= @months_colors[i] %>"><span class="badge badge-pill badge-light"><%= Date::MONTHNAMES[i] %></span></p>
          <% end %>
        <% end %>
      </div>

      <% (1..12).each do |i| %>
        <% if @tlhash[i] != nil && params[:focused_moment] == nil%>
          <% if @tlhash[i][1] != nil %>
            <div id='timeline-item' class='playlist-dob <%=@tlhash[i][1][0][2].name.to_s.gsub(/[^a-z ]/, '').gsub(/\s+/, "") %>'>
              <ul>
                <li><%= link_to @tlhash[i][1][0][2].name.to_s, {:controller => "playlists", :action => "index", :focused_moment => @tlhash[i][1][0][2].name.to_s} %></li>
              </ul>
            </div>
          <% end %>
          <% @tlhash[i][0].each do |item| %>
            <% if item.class == RSpotify::Playlist %>
              <div id='timeline-item' class='playlist-dob <%= item.name.to_s.gsub(/[^a-z ]/, '').gsub(/\s+/, "") %>'>
                <ul>
                  <li><span class="badge badge-pill badge-dark"><%= item.name.to_s.gsub(/\s+/, "").gsub(/\s+/, "") %></span></li>
                  <li><%= link_to image_tag(item.images[0]['url'], id: item.name.to_s, class: "playlist-cover", title: item.name, height:"80%", width:"80%"), {:controller => 'playlists', :action => 'timeline', :playlist => item.name} %></li>
                  <li><span class="badge badge-pill badge-dark">Playlist created on <%=item.tracks_added_at[item.tracks_added_at.keys[0]].to_date.to_s%></span></li>
                </ul>
              </div>
            <% else %>
              <div id='timeline-item' class='track-item <%= item[0].title.gsub(/[^a-z ]/, '').gsub(/\s+/, "") %>'>
                <ul>
                  <li><span class="badge badge-pill badge-dark"><%= item[0].title %></span></li>
                  <li><%= link_to image_tag(item[1].album.images[0]['url'], class: "track-cover", title: item[0].title, height: "80%", width:"80%"), {:controller => 'playlists', :action => 'timeline', :playlist => item[0].playlist_name, :track => item[0].title.to_s}, id:item[0].title, class: "timeline-item" %></li>
                  <% if !item[2].eql? nil %>
                    <li><h1 class="moment-id label label-default"><%= item[2].name %></h1></li>
                  <% end %>
                  <li><span class="badge badge-pill badge-dark">Memory from <%= item[0].memory_date.to_s %></span></li>
                </ul>
              </div>
            <% end %>
          <% end %>
        <% elsif params[:focused_moment] != nil %>
          <% if @tlhash[i] != nil && @tlhash[i][1] != nil %>
            <% if @tlhash[i][1][0][2].name == params[:focused_moment] %>
              <% @tlhash[i][1].each do |item| %>
                <div id='timeline-item' class='track-item <%=item[0].title.gsub(/[^a-z ]/, '').gsub(/\s+/, "")%>'>
                  <ul>
                    <li><%= link_to image_tag(item[1].album.images[0]['url'], class: "track-cover", title: item[0].title, height: "80%", width:"80%", "data-toggle" => "popover", "data-content" => "memory from " + item[0].memory_date.to_s, "data-trigger" => "hover", "data-placement" => "top"), {:controller => 'playlists', :action => 'timeline', :playlist => item[0].playlist_name, :user => @user.to_hash, :track => item[0].title.to_s}, id:item[0].title, class: "timeline-item" %></li>
                  </ul>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div id='timeline-item' class='memory-append'>
        <ul>
          <% if params[:focused_moment] == nil %>
          <li><%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'btn btn-primary', 'data-target' => '#addMemory'} %></li>
          <% else %>
          <!-- TODO pass in date that is in the moment -->
          <li><%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'btn btn-primary', 'data-target' => '#addMemory'} %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <script language="javascript" type="text/javascript">
      $(document).ready(function() {
        console.log("going to <%=@focused_memory %>");
        $(".<%=@focused_memory %>").fadeTo(10, 0.1);
        $('#timeline-container').animate({
            scrollLeft: $(".<%=@focused_memory %>").offset().left
        }, 2000, "linear", function() {
          $(".<%=@focused_memory %>").fadeTo(2000, 1);
        });
      });
    </script>

  </body>
</html>
