<div class="modal fade" id="addMemory" tabindex="-1" role="dialog" aria-labelledby="addMemoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addMemoryModalLabel">Add Memory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "playlists/memory_form" %>
      </div>
    </div>
  </div>
</div>


<div id="timeline-nav" style="position:static">
  <p class="back"><%=link_to 'back', {:controller => 'playlists', :action => 'index', :user => @user.to_hash}, {class: "btn btn-primary"}%></p>
  <h1> <%= @user.display_name %>'s timeline</h1>
  <div id="main-controls">
    <%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'btn btn-primary', 'data-target' => '#addMemory'} %>
    <%= link_to "define moment", "#defineMoment", {'data-toggle' => 'modal', 'class' => 'btn btn-primary', 'data-target' => '#defineMoment'} %>
    <%= link_to "share timeline", "#shareTimeline", {'data-toggle' => 'modal', 'class' => 'btn btn-primary', 'data-target' => '#shareTimeline'} %>
  </div>
</div>

<div id="current-track">
  <img class='track-art' src=<%= @tracks[0].imageurl %>>
</div>

<% unless @tracks[0].nil? %>
  <h4 class='memory'><%= @tracks[0].memory %></h4>
<% end %>
<p><%= link_to "edit", "#addMemory", {'data-toggle' => 'modal', 'id' => 'edit', 'class' => 'btn btn-primary', 'data-target' => '#addMemory'} %></p>
<!-- <p id='play' class='button'><%=link_to 'play', {:controller => 'players', :action => 'play', :playlist_name => @playlist_name, :track_name => @track_name} %></p> -->

<% unless @track.nil? %>
  <style>
    body {
      background:
        linear-gradient(
          rgba(30, 32, 35, 0.45),
          rgba(30, 32, 35, 0.45)
        ),
        url(<%= @track.album.images[0]['url'] %>);
    }
  </style>
<% end %>
