<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <div class="modal fade" id="addMemory" tabindex="-1" role="dialog" aria-labelledby="addMemoryModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addMemoryModalLabel">Add Memory</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "playlists/memory_form" %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="defineMoment" tabindex="-1" role="dialog" aria-labelledby="defineMomentModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="defineMomentModalLabel">Define Moment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "playlists/moment_form" %>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="shareTimeline" tabindex="-1" role="dialog" aria-labelledby="shareTimelineModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="shareTimelineLabel">Share Timeline</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render "playlists/share_timeline_form" %>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-dark shadow">
      <% if params[:focused_moment] != nil %>
        <% (1..12).each do |i| %>
          <% if @tlhash[i] != nil && @tlhash[i][1] != nil %>
            <a href="" class="navbar-brand mb-0 h1"> <%= @tlhash[i][1][0][2].name %> in focus</a>
          <% end %>
        <% end %>
      <% else %>
        <a href="/friends/index" class="navbar-brand mb-0 h1">Tutorial Timeline</a>
      <% end %>
      <ul class="nav nav-pills">
        <% if params[:step].to_i >= 5 %>
          <% if params[:step].to_i == 5 %>
            <li class="nav-item tutorial-focused"><%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#addMemory'} %></li>
          <% else %>
            <li class="nav-item "><%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#addMemory'} %></li>
          <% end %>

          <% if params[:step].to_i >= 6 %>
            <% if params[:step].to_i == 6 %>
              <li class="nav-item tutorial-focused"><%= link_to "define moment", "#defineMoment", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#defineMoment'} %></li>
            <% else %>
              <li class="nav-item "><%= link_to "define moment", "#defineMoment", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#defineMoment'} %></li>
            <% end %>
          <% end %>

          <% if params[:step].to_i >= 7 %>
            <% if params[:step].to_i == 7 %>
              <li class="nav-item tutorial-focused"><%= link_to "share timeline", "#shareTimeline", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#shareTimeline'} %></li>
            <% else %>
              <li class="nav-item "><%= link_to "share timeline", "#shareTimeline", {'data-toggle' => 'modal', 'class' => 'nav-link', 'data-target' => '#shareTimeline'} %></li>
            <% end %>
          <% end %>

          <% if params[:step].to_i >= 8 %>
            <div id="filter-controls">
              <li class="nav-item icon">
                <% if params[:edit].eql? 'true' %>
                  <%= link_to inline_svg('edit.svg', id: 'editing', size: "100% * 100%"), {'controller' => 'tutorial', 'action' => 'index', 'edit' => 'false'} %>
                <% else %>
                  <%= link_to inline_svg('edit.svg', id: 'edit-icon', size: "100% * 100%"), {'controller' => 'tutorial', 'action' => 'index', 'edit' => 'true'} %>
                <% end %>
              </li>
            </div>
          <% end %>
        <% end %>
      </ul>
    </nav>

    <div id="timeline-container">

      <div id="month-bar">
        <% (1..12).each do |i| %>
          <% if @months[i] != nil && @months_colors[i] != nil%>
            <p class="month-bar-item" style="width: <%= (@months[i].to_i * 25.5) - (i/4) %>%; background-color:<%= @months_colors[i] %>"><span class="badge badge-pill badge-light"><%= Date::MONTHNAMES[i] %></span></p>
          <% end %>
        <% end %>
      </div>

      <% (1..12).each do |i| %>
        <% if @tlhash[i] != nil && params[:focused_moment] == nil%>
          <% if @tlhash[i][1] != nil %>
            <div id='timeline-item' class='moment-icon <%=@tlhash[i][1][0][2].name.to_s.gsub(/[^a-z ]/, '').gsub(/\s+/, "") %>'>
              <ul>
                <%= link_to inline_svg('moment.svg', id: 'moment-icon', size: "100% * 100%"), {:controller => "tutorial", :action => "index", :focused_moment => @tlhash[i][1][0][2].name.to_s} %>
                <li><span class="badge badge-pill badge-dark"><%= @tlhash[i][1][0][2].name.to_s %></span></li>
              </ul>
            </div>
          <% end %>
          <% @tlhash[i][0].each do |item| %>
            <% if item.class == RSpotify::Playlist %>
              <div id='timeline-item' class='playlist-dob <%= item.name.to_s.gsub(/[^a-z ]/, '').gsub(/\s+/, "") %>'>
                <ul>
                  <li><span class="badge badge-pill badge-dark"><%= item.name.to_s %></span></li>
                  <li><%= link_to image_tag(item.images[0]['url'], id: item.name.to_s, class: "playlist-cover", title: item.name, height:"80%", width:"80%"), {:controller => 'tutorial', :action => 'timeline', :playlist => item.name} %></li>
                  <li><span class="badge badge-pill badge-dark">Playlist created on <%=item.tracks_added_at[item.tracks_added_at.keys[0]].to_date.to_s%></span></li>
                </ul>
              </div>
            <% else %>
              <% if item[1] != nil %>
                <div id='timeline-item' class='track-item <%= item[0].title.gsub(/[^a-z ]/, '').gsub(/\s+/, "") %>'>
                  <ul>
                    <li><span class="badge badge-pill badge-dark"><%= item[0].title %></span></li>
                     <li><%= link_to image_tag(item[1].album.images[0]['url'], class: "track-cover", title: item[0].title, height: "80%", width:"80%"), {:controller => 'tutorial', :action => 'timeline', :playlist => item[0].playlist_name, :track => item[0].title.to_s}, id:item[0].title, class: "timeline-item" %></li>
                    <% if !item[2].eql? nil %>
                      <li><h1 class="moment-id label label-default"><%= item[2].name %></h1></li>
                    <% end %>
                    <li><span class="badge badge-pill badge-dark">Memory from <%= item[0].memory_date.to_s %></span></li>
                    <% if params[:edit].eql? "true" %>
                      <li class="track-delete-button"><%= link_to "destroy", {"controller" => "tutorial", "action" => "destroy", "track_title" => item[0].title}%></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% elsif params[:focused_moment] != nil %>
          <% if @tlhash[i] != nil && @tlhash[i][1] != nil %>
            <% if @tlhash[i][1][0][2].name == params[:focused_moment] %>
              <% @tlhash[i][1].each do |item| %>
                <div id='timeline-item' class='track-item <%=item[0].title.gsub(/[^a-z ]/, '').gsub(/\s+/, "")%>'>
                  <ul>
                    <li><%= link_to image_tag(item[1].album.images[0]['url'], class: "track-cover", title: item[0].title, height: "80%", width:"80%", "data-toggle" => "popover", "data-content" => "memory from " + item[0].memory_date.to_s, "data-trigger" => "hover", "data-placement" => "top"), {:controller => 'tutorial', :action => 'timeline', :playlist => item[0].playlist_name, :user => @user.to_hash, :track => item[0].title.to_s}, id:item[0].title, class: "timeline-item" %></li>
                  </ul>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div id='timeline-item' class='memory-append'>
        <ul>
          <% if params[:focused_moment] == nil %>
          <li></li>
          <li><%= link_to image_tag(image_url('addmem.svg'), height: "50%", width: "50%", class: "track-cover"), "#addMemory", {'data-toggle' => 'modal', 'data-target' => '#addMemory'} %></li>
          <li class='booster-seat'></li>
          <% else %>
          <!-- TODO pass in date that is in the moment -->
          <li><%= link_to "add memory", "#addMemory", {'data-toggle' => 'modal', 'class' => 'btn btn-primary', 'data-target' => '#addMemory'} %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <%# renders the step based on web params, set by previous page (login page in users_controller) %>
    <div id="tutorial-alert">
      <%= render "tutorial/steps/step_" + params[:step] %>
    </div>

    <script language="javascript" type="text/javascript">
      var destroyShowing = '<%= params[:edit] %>' === 'true';

      $(document).ready(function() {
        $(".toast").show();
        console.log("going to <%=@focused_memory %>");
        $(".<%=@focused_memory %>").fadeTo(10, 0.1);
        $('#timeline-container').animate({
            scrollLeft: $(".<%=@focused_memory %>").offset().left - ($(".<%=@focused_memory %>").offset().left * .275)
        }, 2000, "swing", function() {
          $(".<%=@focused_memory %>").fadeTo(2000, 1);
        });
      });
    </script>

  </body>
</html>
